# Ignore virtual environment directory
venv/
# Ignore local db
notes.db
# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

.terraform

githubcicd-tp-5e3b61989929.json

